{% extends "layouts/sub.html" %}

{% block content %}
<div id="tallModal" class="modal modal-wide fade" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Upload Your Document</h5>
       
      </div>
      <div class="modal-body">
          {% include "includes/_message.html" %}  
        {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" enctype="multipart/form-data" id="form">
               {{ form.hidden_tag() }}
               <div class="row">    
                    <div class="col-md-12">
                        <div class="form-group">
                    {{ render_field(form.file,autocomplete="off",placeholder="")}}
                        </div>
                    </div>     
                    <div class="col-md-12">     
                    
                    
                    </div>  
                    
                                       
                </div>
    
      </div>

      <div class="modal-footer">
        <a href="/sub/step5/{{booking.url}}" class="btn btn-outline-dark">Cancel</a>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
</div>



<div class="container">                      
    <div class="row text-center justify-content-center mb-5">
        <div class="col-xl-6 col-lg-8">
            <h2 class="font-weight-bold"></h2>
            <br>
            <br>
            <p class="text-muted">We’re very proud of the path we’ve taken. Explore the history that made us the company we are today.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                        <div class="inner-active"></div>                        
                        <p class="h6 text-muted mb-0 mb-lg-0">Create an Account</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                        <div class="inner-circle"></div>                        
                        <p class="h6 text-muted mb-0 mb-lg-0">Launched Trello</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                        <div class="inner-circle"></div>                       
                        <p class="h6 text-muted mb-0 mb-lg-0">Launched Messanger</p>
                    </div>
                </div>
                <div class="timeline-step">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                        <div class="inner-circle"></div>
                       
                        <p class="h6 text-muted mb-0 mb-lg-0">Open New Branch</p>
                    </div>
                </div>
                <div class="timeline-step mb-0">
                    <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2020">
                        <div class="inner-circle"></div>
                        
                        <p class="h6 text-muted mb-0 mb-lg-0">In Fortune 500</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="container">
       <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="margin-top: 75px; margin-bottom: 50px;">
         
          <p>Upload Your Document</p>
                  
            <br>
            <div class="row">
              <div class="col-md-6">
                <p>Example of The Passport Details</p>
                <img src="https://submission.balivisas.com/global_assets/images/sampleScanPassport.jpeg" style="max-width: 300px;">
              </div>  

              {% set document = Document.query.filter_by(documentowner_id=booking.id,tipe="passport").first() %} 
              {% if document %} 
              <div class="col-md-6" style="margin-top: auto; margin-bottom: auto;">
                  <img src="https://submission.balivisas.com/global_assets/images/sampleScanPassport.jpeg" style="max-width: 300px;">
                  <a href="">delete</a>
              </div>        

                        
              </div>   
              {% else %}  
              <div class="col-md-6" style="margin-top: auto; margin-bottom: auto;">
                 <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="padding-top: 100px; padding-bottom: 100px;">
                        <div class="card-body text-center">
                          <div class="form-check">
                            <a href=""><p>Upload Passport Here</p></a>
                          </div>                    
                        </div>
                      </div>
                    </div>     
                 </div>        
              </div>  
              {% endif %}   
            </div>


            <div class="row" style="margin-top: 50px;">  
              <br>
              <div class="col-md-6">
                <p>Example of The Passport Cover</p>
                <img src="https://submission.balivisas.com/global_assets/images/sampleScanCover.jpeg" style="max-width: 300px;">
              </div>  
              <div class="col-md-6" style="margin-top: auto; margin-bottom: auto;">
                 <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="padding-top: 100px; padding-bottom: 100px;">
                        <div class="card-body text-center">
                          <div class="form-check">
                            <a href=""><p>Upload Passport Cover Here</p></a>
                          </div>                    
                        </div>
                      </div>
                    </div>     
                 </div>        
              </div>    
            </div>


            <div class="row" style="margin-top: 50px;">  
              <br>
              <div class="col-md-6">
                <p>Example of Bank Statement</p>
                <img src="https://submission.balivisas.com/global_assets/images/bank_statement_example.png" style="max-width: 300px;">
              </div>  
              <div class="col-md-6" style="margin-top: auto; margin-bottom: auto;">
                 <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="padding-top: 100px; padding-bottom: 100px;">
                        <div class="card-body text-center">
                          <div class="form-check">
                            <a href=""><p>Upload Bank Statement</p></a>
                          </div>                    
                        </div>
                      </div>
                    </div>     
                 </div>        
              </div>    
             </div>




            <div class="row" style="margin-top: 50px;">    
              <br>
              <div class="col-md-6">
                <p>Example of Covid-19 Vaccine Certificate/Card</p>
                <img src="https://submission.balivisas.com/global_assets/images/VaccineSertificate.jpeg" style="max-width: 300px;">
              </div>  
              <div class="col-md-6" style="margin-top: auto; margin-bottom: auto;">
                 <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="padding-top: 100px; padding-bottom: 100px;">
                        <div class="card-body text-center">
                          <div class="form-check">
                            <a href=""><p>Upload Covid-19 Vaccine Certificate/Card</p></a>
                          </div>                    
                        </div>
                      </div>
                    </div>     
                 </div>        
              </div>    
             </div>





            <div class="row" style="margin-top: 50px;">  
              <div class="col-md-6">
               <p>Example of Passport Photo in Colour 4 x 6 Digital</p>
                <img src="https://submission.balivisas.com/global_assets/images/pass-photo.jpg" style="max-width: 300px;">
              </div>  
              <
              <div class="col-md-6" style="margin-top: auto; margin-bottom: auto;">
                 <div class="row">
                    <div class="col-md-12">
                      <div class="card" style="padding-top: 100px; padding-bottom: 100px;">
                        <div class="card-body text-center">
                          <div class="form-check">
                            <a href=""><p>Upload Passport Photo in Colour 4 x 6 Digital</p></a>
                          </div>                    
                        </div>
                      </div>
                    </div>     
                 </div>        
              </div>    
            
            </div>
          



            <br>
            <br>
            <button type="submit" class="btn btn-outline-dark">Submit Data</button>
          </form>
        </div>  

        
        
      </div>
      <br>
      <br>

    </div>  









</div>

{% endblock %}